* {
	margin-left: 0;
	margin-bottom: 0;
}

html {
	height: 100%;
}

/* Body and related things */

body {
	
	width: 100%;
}
.main {
	width: 90%;
	height: 700px;
	margin: auto;
	margin-top: 5%;
	background-color: #00d439; /*On top of the background of the whole site*/
	padding-top: 9px;
	box-shadow: 2px 1px #044400;
}

footer {
	height: 20px;
	background-color: blue;
	width: 40%;
	border-radius: 4px;
	margin: auto;
	text-align: center;
	
}

/* Navigation and its apperance*/

ul {
	list-style-type: none;
	margin: o;
	padding: 8px 17px;
	height: 30px;
	background-color: #2bde32; /*The background of the navigation menu*/
}

li a {
	display: inline;
	width: 20%;
	text-decoration: none;
	padding: 7px 16px;
	margin: 0px 4px 0px 5px;
	color: black;
	background-color: #4eff05; /*The links for the navigation of the site*/
}

ul li a {
	float: left;
	margin-left: 2.6%;
	margin-right: 2.6%;
	text-align: center;
}

.active {
	background-color: blue;
}




.condiv {
	margin: auto;
	margin-top: 9%;
}



/* Testing designs */



	
@media only screen and (orientation: portrait) {
	
	
	.main {
		height: 900px;
	}
	
	/* Makes the landscape menu disapear*/
	
	.disappear {
		display: none;
	}
	
	
	/* My test for a mobile navbar CSS */

/* The div around the links for the manu*/
.mobnav {

	display: none;
	
}

.mobnav a:hover {
	transition: 0.3s;
	color: green;
	
}

/* The checkbox that is used for oppening and closing the manu*/
.mobcheck {
	display: none;
	
}




/* The magic for making the mobile navigation show when pressing the icon*/
.checkdiv input:checked ~ .mobnav {

	display: block;
	width: 100%;
	height: 26%;

	
}












/* The first line in the menu icon*/
#span1 {
	background-color: purple;
	border-radius: 2px;
	height: 4px;
	width: 20px;
	position: absolute;
	margin-top: -5px;
	padding: 0px;
	margin: -6px 0px 0px 0px;
}

/* The second line in the menu icon*/
#span2 {
	background-color: blue;
	height: 4px;
	width: 10px;
	border-radius: 2px;
	padding: 0px;
	margin: 1px 0px 0px 0px;
position: absolute;
}

/* The third line in the menu icon*/
#span3 {
	background-color: grey;
	height: 4px;
	width: 20px;
position: absolute;
	padding: 0px;
	margin: 8px 0px 0px 0px;
	border-radius: 2px;
	
}


/* The label for housing the spans making up the menu icon*/
.lbclick {
	background-color: white;
	height: 20px;
	width: 30px;
}

/* The div for the whole menu item*/
.checkdiv {
}

/* where the logo goes*/
.rightcol {
	width: 100%;
	height: 25px;
	background-color: white;
	float: right;
	margin-top: -20px;
	box-shadow: 2px 1px #25283e;
}

/* Spacer for menu and logo*/
#vertical {
	height: 29px;
	box-shadow: 1px 0px black;
	background-color: orange;
	margin-top: 3px;
	margin-left: 25px;
	padding: 1px 1px 5px 1px;
	
}

.welcome {
	float: right;
	clear: both;
	margin-top: 0px;
	margin-right: 20%;
	font-size: 1.4em;
}


/* The div that makes the menus placment where i want it*/
.menudiv {
	
	width: 30px;
	height: 10px;
	
}

/* The shadow between the menu items/links*/
.ashadow {
	box-shadow: 1px 1px firebrick;
}

/* The link apperance and size*/
.moba {
	display: block;
	background-color: red;
	margin: 1px 0;
	text-decoration: none;
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	
}
	
.active {
	background-color: blue;
}
	
	
	
/* Trying other image gallery tricks for mobile */



/* Animates the images being opened so it looks like its comming from top left corner */
@keyframes showimg {
	from {height:10%; width:10%;}
	to {height:100%; width:100%;}
}



/* The expanding image container */
.container {
    position: fixed;
    display: none; /* Starts of by hiding the container and its content */
	left:0; /* Sets where the left corner of the container goes on the screen */
	top: 0; /* Sets where the top of the container starts on the screen */
	height: 101%; /* Sets the size of how tall the container should be */
	width: 100%; /* Sets the size of how wide the container should be */
	overflow: hidden; 

	animation-name: showimg; /* Sets the animation to the specific element */
	animation-duration: 1s; /* Sets the time for how long the animation should last */
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 40vw; /* Sets how far from the bottom of the screen the text is being displayed */
    left: 2.0vw; /* Sets how far from the left side of the screen the text is being displayed */
    color: white; /* Sets the color for the text being shown */
    font-size: 6vw; /* Sets the size of the text being displayed */
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px; /* Sets how far from the top of the screen the close button is displayed */
    right: 15px; /* Sets how far from the right side of the screen the button is displayed */
    color: white; /* Sets the color for the cross symbol being used to close the images */
    font-size: 2em; /* Sets the size of the symbol bieng used to close the images */
    cursor: pointer; /* Sets the cursor symbol being shown when holding the cursor over the symbol */
	
}



.btn {
	
	margin-top: 8%;
	background-color: rgba(0,0,0,0.4);
	color: white;
	font-size: 2.9em;
	cursor: pointer;
}

.btn:hover {
	background-color: rgba(0,0,0,0.6);
}

.leftBtn {
	margin-left: 3%;
	float: left;
}

.rightBtn {
	margin-right: 3%;
	float: right;
}




/* Black rectangle around the text for the images */
.txtframe {
	background-color: rgba(0,0,0,0.7); /* Makes a semi-transparent black rectangle around the text for the images */
	height: 5%; /* Sets how tall the ractangle is */
	width: auto; /* Sets how wide the rectangle is */
	position: relative;
	margin-right: -30vw;
	padding-left: 0.8vw; /* Sets a little extra space to the left of the text */
	padding-right: 0.8vw; /* Sets a little extra space to the right of the text */
}
	
.condiv {
	margin-top: 40%;
}

.imgsize {
	width: 65%; /* Sets how big the thumbnail for the images is being displayed */
	
	
	margin: auto; /* Makes the images be 0.7% from each other all around them */
	border-radius: 10%; /* Makes the egdes of the pictures appear soft and rounded */
	box-shadow: 4px 0px green; /* Gives the images a little green shadow behind them */
}

.imgdiv {
	margin: auto;
}

.bigimg {
	display: inline; 
	width: 100%; /* Sets how wide the big images are being displayed */
	background-color: rgba(0,0,0,0.8); /* Sets the background behind the big images to semi-transparent black */
	height: 50%; /* Sets how tall the images are being displayed */
	padding: 45% 0 87% 0; /* Sets the extra expanded space all around the big images */
	object-fit: contain;
	
}
	
}


@media only screen and (orientation: landscape) {
	
	/* trying other image gallery tricks */



/* Animates the images being opened so it looks like its comming from top left corner */
@keyframes showimg {
	from {height:10%; width:10%;}
	to {height:100%; width:100%;}
}



/* The expanding image container */
.container {
    position: fixed;
    display: none; /* Starts of by hiding the container and its content */
	left:0; /* Sets where the left corner of the container goes on the screen */
	top: 0; /* Sets where the top of the container starts on the screen */
	height: 101%; /* Sets the size of how tall the container should be */
	width: 100%; /* Sets the size of how wide the container should be */
	overflow: hidden; 

	animation-name: showimg; /* Sets the animation to the specific element */
	animation-duration: 1s; /* Sets the time for how long the animation should last */
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 25px; /* Sets how far from the bottom of the screen the text is being displayed */
    left: 202px; /* Sets how far from the left side of the screen the text is being displayed */
    color: white; /* Sets the color for the text being shown */
    font-size: 2em; /* Sets the size of the text being displayed */
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px; /* Sets how far from the top of the screen the close button is displayed */
    right: 15px; /* Sets how far from the right side of the screen the button is displayed */
    color: white; /* Sets the color for the cross symbol being used to close the images */
    font-size: 2em; /* Sets the size of the symbol bieng used to close the images */
    cursor: pointer; /* Sets the cursor symbol being shown when holding the cursor over the symbol */
	
}

/* Black rectangle around the text for the images */
.txtframe {
	background-color: rgba(0,0,0,0.7); /* Makes a semi-transparent black rectangle around the text for the images */
	height: 5%; /* Sets how tall the ractangle is */
	width: auto; /* Sets how wide the rectangle is */
	position: relative;
	margin-right: -30vw;
	padding-left: 0.8vw; /* Sets a little extra space to the left of the text */
	padding-right: 0.8vw; /* Sets a little extra space to the right of the text */
}


.btn {
	
	margin-top: 10%;
	background-color: rgba(0,0,0,0.4);
	color: white;
	font-size: 2.5em;
	cursor: pointer;
}

.btn:hover {
	background-color: rgba(0,0,0,0.6);
}

.leftBtn {
	margin-left: 28%;
	float: left;
}

.rightBtn {
	margin-right: 28%;
	float: right;
}


/* Testing my own image enlarge function */





.displaying {
	display: block; /* Makes the big images visable */
}

.bigimg {
	display: inline; 
	width: 70%; /* Sets how wide the big images are being displayed */
	background-color: rgba(0,0,0,0.8); /* Sets the background behind the big images to semi-transparent black */
	height: 89%; /* Sets how tall the images are being displayed */
	padding: 3.4% 15% 7.5% 15%; /* Sets the extra expanded space all around the big images */
	object-fit: contain;
}

.bigdiv {
	position: relative;
}



.secbig {
		display: none;
	
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
}

.imgsize {
	width: 30%; /* Sets how big the thumbnail for the images is being displayed */

	margin: auto; /* Makes the images be 0.7% from each other all around them */
	border-radius: 10%; /* Makes the egdes of the pictures appear soft and rounded */
	box-shadow: 4px 0px green; /* Gives the images a little green shadow behind them */
}

.imgsize:hover {
	opacity: 0.8;
}

.imgsize:active{
	box-shadow: 2px 0px darkgreen;
	transform: translateX(4px);
	
}

}


/* Both are needed for the mobile navbar to not be visible in landscape mode*/

@media only screen and (orientation: landscape) {
	.checkdiv {
		display: none;
	}
}

@media only screen and (orientation: landscape) {
	.checkdiv {
		display: none;
	}
}